<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoodLaw" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- for bootstrap css to be overridden by our own css -->
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", :media => "all" %>
    <!-- for font awesome -->
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :media => "all" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- need jQuery before loading bootstrap -->
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <!-- navigation bar with message-->
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
          <div id="message_block">
            <%= render 'layouts/messages' %>
          </div>
        </div>
      </nav>
    </header>

    <!-- main content -->
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  </body>
</html>
